{% extends 'base.html' %}
{% block content %}
<h1 class="mb-4">Signin</h1>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="POST" class="card p-4 shadow-sm bg-white">
  {% csrf_token %}
  
  <div class="mb-3">
    <label for="id_username" class="form-label">Username</label>
    {{ form.username }}
  </div>

  <div class="mb-3">
    <label for="id_password" class="form-label">Password</label>
    {{ form.password }}
  </div>

  <button type="submit" class="btn btn-primary mt-3">Signin</button>
</form>
{% endblock %}
