{% extends 'base.html' %}
{% block content %}
<h1 class="mb-4">Tasks Pending</h1>
<div class="list-group">
  {% for task in tasks %}
  <a href="{% url 'task_detail' task.id %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        {% if task.important %}<strong>{{ task.title }}</strong>{% else %}{{ task.title }}{% endif %}
      </h5>
      <small>{{ task.datecompleted|date:'M j Y:i' }}</small>
    </div>
    <p class="mb-1">{{ task.description }}</p>
    <small>Assigned to: {{ task.user.username }}</small>
  </a>
  {% endfor %}
</div>
{% endblock %}
