{% extends 'base.html' %}
{% block content %}
<h1 class="mb-3">{{ task.title }}</h1>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="POST" class="mb-3 card p-4 bg-white shadow-sm">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-success">Update</button>
</form>

<form action="{% url 'complete_task' task.id %}" method="POST" class="d-inline">
  {% csrf_token %}
  <button class="btn btn-warning">Complete</button>
</form>

<form action="{% url 'delete_task' task.id %}" method="POST" class="d-inline">
  {% csrf_token %}
  <button class="btn btn-danger">DELETE</button>
</form>
{% endblock %}
